# Drivers configuration options for SeeedStudio Grove Devices

# Copyright (c) 2015 Intel Corporation
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config GROVE_SENSORS
	bool
	default y
	depends on DT_HAS_SEEED_GROVE_LIGHT_ENABLED || DT_HAS_SEEED_GROVE_TEMPERATURE_ENABLED
	help
	  Enable Seeed Grove sensors support.

config GROVE_LIGHT_SENSOR
	bool "Grove-Light (Seeed) light sensor driver"
	default y
	depends on DT_HAS_SEEED_GROVE_LIGHT_ENABLED
	select ADC
	help
	  Setting this value will enable driver support for the Grove Light
	  Sensor.

config GROVE_TEMPERATURE_SENSOR
	bool "Grove-Temp (Seeed) temperature sensor driver"
	default y
	depends on DT_HAS_SEEED_GROVE_TEMPERATURE_ENABLED
	select ADC
	help
	  Setting this value will enable driver support for the Grove
	  Temperature Sensor.
