# Copyright 2025 NXP
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config QDEC_TPM
	bool "TPM-QDEC (NXP) quadrature decoder sensor driver"
	default y
	depends on DT_HAS_NXP_TPM_QDEC_ENABLED
	select PINCTRL
	help
	  Enable drivers for NXP TPM QUADRATURE DECODER
