# Copyright (c) 2024 Bootlin
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config LSM9DS1_MAG
	bool "LSM9DS1 (ST) magnetometer sensor driver"
	default y
	depends on DT_HAS_ST_LSM9DS1_MAG_ENABLED
	select I2C
	select HAS_STMEMSC
	select USE_STDC_LSM9DS1
