# HS400X temperature and humidity sensor

# Copyright (c) 2024 Renesas Electronics Corporation
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig HS400x
	bool "HS400X (Renesas) temperature, humidity sensor driver"
	default y
	depends on DT_HAS_RENESAS_HS400X_ENABLED
	help
	  Enable driver for HS400x temperature and humidity sensors.

if HS400x

config HS400X_CRC
	bool "HS400X CRC check"
	select CRC
	help
	 Verify the checksum byte from measurements

endif # HS400x
