# TMP11X temperature sensor configuration options

# Copyright (c) 2019 Centaur Analytics, Inc
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig TMP11X
	bool "TMP116, TMP117, TMP119 (TI) temperature sensor driver"
	default y
	depends on DT_HAS_TI_TMP11X_ENABLED
	select I2C
	help
	  Enable driver for TMP116, TMP117 and TMP119 temperature sensors.

if TMP11X

module = TMP11X
thread_priority = 10
thread_stack_size = 1024
source "drivers/sensor/Kconfig.trigger_template"

endif
