# ITE Voltage Comparator driver configuration options

# Copyright (c) 2022 ITE Technology Corporation.
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig VCMP_IT8XXX2
	bool "it8xxx2 (ITE) Voltage Comparator sensor driver"
	default y
	depends on DT_HAS_ITE_IT8XXX2_VCMP_ENABLED
	depends on SOC_IT8XXX2 && ADC_ITE_IT8XXX2
	help
	  This option enables the ITE it8xxx2 voltage comparator,
	  it8xxx2 supports six 10-bit resolution voltage comparator
	  channels, and the input of each comparator comes from ADC pin.

if VCMP_IT8XXX2

config VCMP_IT8XXX2_INIT_PRIORITY
	int "Init priority"
	default SENSOR_INIT_PRIORITY
	help
	  This option sets ITE voltage comparator device instance init priority.

config VCMP_IT8XXX2_WORKQUEUE
	bool "Threshold detection uses internal work queue"
	help
	  Threshold detection ISR utilizes system work queue for calling
	  trigger handlers; set this option to use dedicated work queue instead.

if VCMP_IT8XXX2_WORKQUEUE

config VCMP_IT8XXX2_WORKQUEUE_PRIORITY
	int "Threshold detection work queue priority"
	default SYSTEM_WORKQUEUE_PRIORITY
	help
	  This option sets internal ITE voltage comparator threshold detection
	  workqueue priority.

config VCMP_IT8XXX2_WORKQUEUE_STACK_SIZE
	int "Threshold detection work queue stack size"
	default 768
	help
	  This option sets internal ITE voltage comparator threshold detection
	  workqueue stack size.

endif # VCMP_IT8XXX2_WORKQUEUE

endif # VCMP_IT8XXX2
