# Copyright (c) 2024 SILA Embedded Solutions GmbH
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menu "MAX31790 (Maxim) fan sensor driver"
	depends on DT_HAS_MAXIM_MAX31790_FAN_SPEED_ENABLED || DT_HAS_MAXIM_MAX31790_FAN_FAULT_ENABLED

config MAX31790_SENSOR
	bool
	default y
	depends on MAX31790_FAN_SPEED || MAX31790_FAN_FAULT
	help
	  Enable sensors for the MAX31790 PWM controller.

config MAX31790_FAN_SPEED
	bool "MAX31790 fan speed sensor"
	default y
	depends on DT_HAS_MAXIM_MAX31790_FAN_SPEED_ENABLED
	select MFD
	help
	  Enable driver for the MAX31790 fan speed sensor.

config MAX31790_FAN_FAULT
	bool "MAX31790 fan fault sensor"
	default y
	depends on DT_HAS_MAXIM_MAX31790_FAN_FAULT_ENABLED
	select MFD
	help
	  Enable driver for the MAX31790 fan fault sensor.

endmenu
