# Sensor configuration options

# Copyright (c) 2016 Intel Corporation
# Copyright (c) 2024 Croxel Inc
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig SENSOR
	bool "Sensor Drivers"
	help
	  Include sensor drivers in system config

if SENSOR

module = SENSOR
module-str = sensor
source "subsys/logging/Kconfig.template.log_config"

source "drivers/sensor/Kconfig.sensor"
source "drivers/sensor/Kconfig.sensor_clock"

comment "Device Drivers"

# zephyr-keep-sorted-start
source "drivers/sensor/adi/Kconfig"
source "drivers/sensor/amd/Kconfig"
source "drivers/sensor/ams/Kconfig"
source "drivers/sensor/aosong/Kconfig"
source "drivers/sensor/ap/Kconfig"
source "drivers/sensor/asahi_kasei/Kconfig"
source "drivers/sensor/atmel/Kconfig"
source "drivers/sensor/avago/Kconfig"
source "drivers/sensor/bosch/Kconfig"
source "drivers/sensor/broadcom/Kconfig"
source "drivers/sensor/dfrobot/Kconfig"
source "drivers/sensor/ene/Kconfig"
source "drivers/sensor/espressif/Kconfig"
source "drivers/sensor/everlight/Kconfig"
source "drivers/sensor/festo/Kconfig"
source "drivers/sensor/fintek/Kconfig"
source "drivers/sensor/generic/Kconfig"
source "drivers/sensor/gss/Kconfig"
source "drivers/sensor/hamamatsu/Kconfig"
source "drivers/sensor/honeywell/Kconfig"
source "drivers/sensor/hoperf/Kconfig"
source "drivers/sensor/hzgrow/Kconfig"
source "drivers/sensor/infineon/Kconfig"
source "drivers/sensor/isentek/Kconfig"
source "drivers/sensor/ist/Kconfig"
source "drivers/sensor/ite/Kconfig"
source "drivers/sensor/jedec/Kconfig"
source "drivers/sensor/liteon/Kconfig"
source "drivers/sensor/maxbotix/Kconfig"
source "drivers/sensor/maxim/Kconfig"
source "drivers/sensor/meas/Kconfig"
source "drivers/sensor/melexis/Kconfig"
source "drivers/sensor/memsic/Kconfig"
source "drivers/sensor/microchip/Kconfig"
source "drivers/sensor/nordic/Kconfig"
source "drivers/sensor/nuvoton/Kconfig"
source "drivers/sensor/nxp/Kconfig"
source "drivers/sensor/onsemi/Kconfig"
source "drivers/sensor/panasonic/Kconfig"
source "drivers/sensor/peacefair/Kconfig"
source "drivers/sensor/phosense/Kconfig"
source "drivers/sensor/pixart/Kconfig"
source "drivers/sensor/plantower/Kconfig"
source "drivers/sensor/pni/Kconfig"
source "drivers/sensor/raspberrypi/Kconfig"
source "drivers/sensor/realtek/Kconfig"
source "drivers/sensor/renesas/Kconfig"
source "drivers/sensor/rohm/Kconfig"
source "drivers/sensor/sbs/Kconfig"
source "drivers/sensor/sciosense/Kconfig"
source "drivers/sensor/seeed/Kconfig"
source "drivers/sensor/semtech/Kconfig"
source "drivers/sensor/sensirion/Kconfig"
source "drivers/sensor/silabs/Kconfig"
source "drivers/sensor/st/Kconfig"
source "drivers/sensor/tdk/Kconfig"
source "drivers/sensor/ti/Kconfig"
source "drivers/sensor/vishay/Kconfig"
source "drivers/sensor/winsen/Kconfig"
source "drivers/sensor/wsen/Kconfig"
# zephyr-keep-sorted-stop

endif # SENSOR
