# NXP MCUX analog comparator (ACMP) configuration options

# Copyright (c) 2020 Vestas Wind Systems A/S
# Copyright 2024 NXP
# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

menuconfig SENSOR_MCUX_ACMP
	bool "MCUX-ACMP (NXP) analog comparator sensor driver"
	default y
	depends on DT_HAS_NXP_KINETIS_ACMP_ENABLED
	select PINCTRL
	help
	  Enable driver for the NXP MCUX Analog Comparator (ACMP).

config SENSOR_MCUX_ACMP_TRIGGER
	bool "Trigger support"
	depends on SENSOR_MCUX_ACMP
	help
	  Enable trigger support for the NXP MCUX Analog Comparator
	  (ACMP).
