#
# Copyright (c) 2022 Badgerd Technologies B.V and its affiliates
# Copyright (c) 2025 Croxel, Inc.
# Copyright (c) 2025 CogniPilot Foundation
# Copyright The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig BMP581
	bool "BMP581 (Bosch) barometric pressure sensor driver"
	depends on DT_HAS_BOSCH_BMP581_ENABLED
	select I2C
	select I2C_RTIO
	default y

if BMP581

config BMP581_STREAM
	bool "Streaming mode"
	default y
	depends on SENSOR_ASYNC_API
	depends on GPIO
	depends on $(dt_compat_any_has_prop,$(DT_COMPAT_BOSCH_BMP581),int-gpios)

endif # BMP581
